body {
  margin: 0;
    /* (sans serif below is the "fallback" use it to see if your fonts are fucky when using a specific font by removing the "serif" or "sans" word. */
    font-family: 'Rubik', sans-serif;
    font-weight: 300;  
    background-color: #556069;
}
header {
  background-color: #556069;
  padding: 15px;
}
header ul {
  float: right;
  color: #e1a11b;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #556069;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  float: right;
  color: #e1a11b;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}
h2 {
  font-size: 30px;
  font-weight: normal;
  font-family:sans-serif;
  color: #E1A11B;

}